{% extends 'layouts/page.njk' %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  {{ appHeading({
    text: heading
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-body" data-testid="app-page-body">
        <form id="response_form" method="post">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              {{ govukInput({
                id: "search",
                name: "search",
                value: search
              }) }}
            </div>
            <div class="govuk-grid-column-one-third">
              {{ govukButton({
                text: "Search"
              }) }}
            </div>
          </div>
        </form>
        {{answerResults.answer}}
        <hr />
        {% for reference in answerResults.references %}
          <p>
            <a href="{{reference.url}}">
             {% if reference.scheme %}{{ reference.scheme }}: {% endif %}
             {{ reference.title }}
            </a>
            <p>
              {{ reference.summary }}
            </p>
          </p>
          <hr />
        {% endfor %}
      </div>
    </div>
  </div>

{% endblock %}
